[leaflet] {
  position:fixed;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

h4{
  border-bottom: 4px solid rgb(230, 230, 230);
}
#toolbar-sensor-ul{
  display: flex;
  margin: 0;
  flex-flow: row wrap;
  justify-content: flex-start;

}
#toolbar-sensor-ul li{
  list-style: none;
  margin: 0 2.5px;
  flex-grow: 1;
}

#toolbar-sensor-ul li button{
  width: 50px;
  height: 50px;
  line-height: 1.33;
  text-align: center;
  border-radius: 25px;
  outline: none;
  justify-content: center;
  letter-spacing: -1px;
  font-size: 13.5px;
}

#toolbar-sensor-ul li button sub{
  letter-spacing: -1px;
  position: relative;
  top: 5px;
}  

#toolbar-pollen-ul{
  display: flex;
  margin: 0;
  flex-flow: row wrap;
  justify-content: flex-start;

}
#toolbar-pollen-ul li{
  list-style: none;
  margin: 0 2.5px;
  flex-grow: 1;
}


#toolbar-pollen-ul li button{
  width: 50px;
  height: 50px;
  line-height: 1.33;
  text-align: center;
  border-radius: 25px;
  outline: none;
  justify-content: center;
  letter-spacing: -1px;
  font-size: 13.5px;
}

#toolbar-pollen-ul li button sub{
  letter-spacing: -1px;
  position: relative;
  top: 5px;
}  

#toolbar-weather-ul{
  display: flex;
  margin: 0;
  flex-flow: row wrap;
  justify-content: flex-start;

}
#toolbar-weather-ul li{
  list-style: none;
  margin: 0 2.5px;
  flex-grow: 1;
}


#toolbar-weather-ul li button{
  width: 50px;
  height: 50px;
  line-height: 1.33;
  text-align: center;
  border-radius: 25px;
  outline: none;
  justify-content: center;
  letter-spacing: -1px;
  font-size: 13.5px;
}

#toolbar-weather-ul li button sub{
  letter-spacing: -1px;
  position: relative;
  top: 5px;
} 



#toolbar {
  background-color: lightgray;
  opacity: .6;
  height: 100vh;
  position: absolute;
  transition: .5s left;
  box-sizing: border-box;  
  padding: 8px 8px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25);
}


#toolbar.open {
  left: 0;
  opacity: 1;
  overflow-y: auto;
  
}

#toolbar-content{
  margin-bottom: 100px;
}
#toolbar-form,::ng-deep #toolbar-routes-container{
  padding-top: 5px;
}


#toolbar-button{
  background-color: white;
  width : 30px;
  height : 30px;
  background-image: url("/assets/left.png");
  background-size : 27px 27px;
  cursor : pointer;
  position: absolute;
  right: 15px;
  top: 10px;
}


::ng-deep #toolbarButtonControl{
  width : 30px;
  height : 30px;
  background-color : white;
  background-image : url("/assets/right.png");
  background-size : 27px 27px;
  cursor : pointer;
}

::ng-deep .legs-button{
  cursor : pointer;
  padding : 5px 7.5px;
}

::ng-deep #classification{
  padding-left: 0px;
  font-size: 200%;
  margin-bottom: 10px;
  margin-right: 10px;
}

::ng-deep #save-route-div{
  width: 100%;
  text-align: center;
  padding: 0px;
}

::ng-deep #save-route-button{
  cursor : pointer;
  padding : 5px 7.5px;
  width: 25%;
  margin-bottom: 10px;
  color: white;
}

::ng-deep #share-route-button{
  cursor : pointer;
  padding : 5px 7.5px;
  width: 20%;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
  color: white;
}

::ng-deep .inst-container ul{
  padding: 0px 6%;
  border-bottom: 1px solid rgb(230, 230, 230);
}

::ng-deep .inst-container li{
  cursor : pointer;
  line-height: 25px;
  border-bottom: 1px dotted #ccc;
}
::ng-deep .inst-container li:nth-last-child(1){
  border-bottom: none;
}

::ng-deep .inst-container li:hover{
  cursor : pointer;
  background: #eee;
}
::ng-deep .leaflet-popup-content-wrapper{
  border-radius: 0px;
}

::ng-deep .inst-button {
  cursor : pointer;
  background-color : #FFFFFF;
  padding : 15px 3%;
  border-bottom : 1px solid rgb(230, 230, 230);
}

button, input, select, textarea, option{
  margin: 10px auto !important;
}



.ui-growl{
  right: 54px;
}


::-webkit-scrollbar { 
    display: none; 
}

#toolbar.open #toolbar-button{
    position: relative;
    top: 10px;
    float: right;
    right: 15px;
}
#timepicker{
  top:8px;
}
#options-button,#timepicker{
  position: absolute;
  /* right: 15px; */
}

#my-itineraries-button{
  position: absolute;
  right: 15px;
}


#toolbar-routes,#toolbar-sensor-info,#toolbar-sensor-health,#toolbar-form,#toolbar-pollen-info,#toolbar-weather-info, #toolbar-my-itineraries{
  margin: 0% 0px 3% 0px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  background-color: white;
  outline: none;
}

#toolbar-pois-table{
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  background-color: white;
  text-align: justify;
}

#toolbar-pois-table:hover,#toolbar-routes:hover,#toolbar-sensor-info:hover,#toolbar-sensor-health:hover,#toolbar-form:hover,#toolbar-pollen-info:hover,#toolbar-weather-info:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#pois_image_container{
  margin-top: 3%;
  margin-bottom: 1%;
}

#pois_image{
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  ::ng-deep .nav-justified > li {
    display: table-cell;
    width: 1%;
  }
  ::ng-deep .nav-justified > li > a {
    margin-bottom: 0;
  }

  ::ng-deep .nav-tabs.nav-justified > li {
    display: table-cell;
    width: 1%;
  }
  ::ng-deep .nav-tabs.nav-justified > li > a {
    margin-bottom: 0;
  }
  ::ng-deep .nav-tabs.nav-justified > li > a {
    border-bottom: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
  }
  ::ng-deep .nav-tabs.nav-justified > .active > a,
  ::ng-deep .nav-tabs.nav-justified > .active > a:hover,
  ::ng-deep .nav-tabs.nav-justified > .active > a:focus {
    border-bottom-color: #fff;
  }
}


/* Custom, iPhone Retina */ 

@media only screen and (max-width : 320px) {
  #toolbar {
    width: 190px;
    left: -190px;
  }

}

@media only screen and (min-width : 320px) {
  #toolbar {
    width: 260px;
    left: -260px;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  #toolbar {
    width: 440px;
    left: -440px;
  }
}
