/* You can add global styles to this file, and also import other style files */
body {
  margin: 0 !important;
  padding: 0 !important;
}

.leaflet-popup-content-wrapper .leaflet-popup-content{
  text-align:justify;
}

.leaflet-popup-content-wrapper .leaflet-popup-content ul{
  padding-left: 10%
}